@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.profile-2-container{
  position: absolute;
  width: 350px;
  height: 184px;
  top: 298px;
  left: 1000px;
  border-radius: 25px;
  border: 1px;
  background-color: #ECF0FF;
  border: 1px solid #00000026;
}
.user-pic , .user-name{
  display: inline-block;
}
.user-pic-img{
  width: 93px;
  height: 93px;
  position: absolute;
  top: 40px;
  left: 20px;
  border-radius: 73px;
}
.user-name{
  position: absolute;
  top: 60px;
  left: 130px;
  font-family: "Roboto" , sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #000000;
}
