
@media (max-width: 372px) {
  .img-small {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 310px) {
  .moofli-landing-margin {
    margin-top: 180px;
  }
}

.free-version-message {
  padding: 5px;
}
